**/.env
**/.env.local
**/.env.*.local

api/
ressources/

go/arteci-go

node_modules/
dist/
build/
*.js.map
coverage/
*.log

Vagrant/.vagrant/
Vagrant/kubeconfig.yaml

.DS_Store
**/.DS_Store

scripts/

.vscode/
.idea/
*.swp
